<br>
<br>
<footer class="bg-light text-center text-lg-start" style="position:fixed; left:0; bottom:0; width:100%;">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-dark" href="https://www.linkedin.com/in/dipanshu-singh-75bb9521b/">Dipanshu Singh</a>
  </div>
</footer>